<span style="float:right; padding-right:10px;">
<a class="link-booth" target="_new" href="/ajuda/">[Manual de ajuda]</a>
</span>
{#if $T.election.BOGUS_P}
A chave pública desta eleição ainda não está pronta. Esta eleição está no modo pré-visualização.
{#else}
<span style="color:#fff">Código de Identificação da Eleição: </span><span id="election_hash" style="font-weight:bold;width: 10em; word-wrap: break-word;">{$T.election.hash}</span>
{#/if}
