{% load i18n %}
{% load staticfiles %}
<nav class="navbar navbar-default top-bar">
    <div class="container-fluid">
	<div class="row">
		<a title="site IFRS Canoas" href="https://ifrs.edu.br/canoas/">
            <img class="img-responsive logo" width="177" height="65" src={% static "img/logo.png" %} alt="Logo IFRS" />
		</a>

	</div>
	<div class="row top-bar-menu">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-bar-menu" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
            <div class="collapse navbar-collapse" id="top-bar-menu">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="navbar-brand" style="color:#FFFFFF;" href="/">{% trans "Home" %}</a>
                    </li>
                    {% if user %}
                    {% if user.institutionuserprofile_set.get.is_institution_admin %}
                    <li>
                        <a class="navbar-brand" style="color:#FFFFFF;" href="{% url "institution@dashboard" %}">Admin</a>
                    </li>
                    {% endif %}
                    {% if user.user_type != 'shibboleth' %}
                    <li>
                        <a class="navbar-brand " style="color:#FFFFFF;" href="{% url "auth@logout" %}?return_url=/">{% trans "Logout" %}</a>
                    </li>
                    {% endif %}
                    {% else %}
                    <li>
                        <a class="navbar-brand" style="color:#FFFFFF;" href="{{SECURE_URL_HOST}}{% url "auth@start" system_name=auth_system %}?return_url={{return_url}}"> {% trans "Federated Access" %}</a>
                    </li>
                    {% endif %}
                    <li>
                        <a class="navbar-brand" style="color:#FFFFFF;" href="https://vote.canoas.ifrs.edu.br/ajuda/">{% trans "Help" %}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
